%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @invite do |f|
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          .row
            .col-sm-4
              = f.text_field :friend_name, label: "Friend's Name"
              = f.email_field :friend_email, label: "Friend's Email Address"
          .row
            .col-sm-6
              = f.text_area :message, label: "Invitation Message", placeholder: "Please join this really cool site!", rows: 6
          %fieldset.form-group.action
            %input(type="submit" value="Send Invitation" class="btn btn-default")