---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14ScrSEEWX6SuFHyS20r5lEU",
          "livemode": false,
          "created": 1408317294,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14ScrSEEWX6SuFHy6jlXA1jL",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "hjWFn5h9EJtWX9XC",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Sun, 17 Aug 2014 23:14:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=aud&card=tok_14ScrSEEWX6SuFHyS20r5lEU&description=A%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14ScrZEEWX6SuFHyQsGcRA7V",
          "object": "charge",
          "created": 1408317301,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "aud",
          "refunded": false,
          "card": {
            "id": "card_14ScrSEEWX6SuFHy6jlXA1jL",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "hjWFn5h9EJtWX9XC",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14ScrZEEWX6SuFHyQsGcRA7V/refunds",
            "data": []
          },
          "balance_transaction": "txn_14ScrZEEWX6SuFHy3IURsexf",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "A valid charge",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Sun, 17 Aug 2014 23:15:01 GMT
recorded_with: VCR 2.9.2
