%section.sign_in.container
  .row
    .col-sm-6.col-sm-offset-3
      = bootstrap_form_tag url: sessions_path do |f|
        %header
          %h1 Sign in
        %fieldset
          .col-sm-12
            = f.email_field    :email, label: "Email Address"
            = f.password_field :password, label: "Password"
          .col-sm-4   
            = f.submit "Sign in"