%section.reset_password.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, url: password_reset_path(params[:id]) do |f|
        %header
          %h1 Reset Your Password
        %fieldset.form-group
          .row
            .col-sm-4
              = f.password_field :password, label: "New Password"
        %fieldset.form-group.action
          %input(type="submit" value="Reset Password" class="btn btn-default")