---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=nelle%40example.com&plan=myflixbasic
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1409266068,
          "id": "cus_4fxbBl8pGkPVU4",
          "livemode": false,
          "description": null,
          "email": "nelle@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4fxbBl8pGkPVU4/subscriptions",
            "data": [
              {
                "id": "sub_4fxbgzB4XEaUNR",
                "plan": {
                  "interval": "month",
                  "name": "Basic",
                  "created": 1409181662,
                  "amount": 999,
                  "currency": "aud",
                  "id": "myflixbasic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_description": "Myflix fee"
                },
                "object": "subscription",
                "start": 1409266068,
                "status": "trialing",
                "customer": "cus_4fxbBl8pGkPVU4",
                "cancel_at_period_end": false,
                "current_period_start": 1409266068,
                "current_period_end": 1410475668,
                "ended_at": null,
                "trial_start": 1409266068,
                "trial_end": 1410475668,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "aud",
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4fxbBl8pGkPVU4/cards",
            "data": []
          },
          "default_card": null
        }
  recorded_at: Thu, 28 Aug 2014 22:47:48 GMT
recorded_with: VCR 2.9.2
