---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103ba12Px4Wvfu2AlXDVkBos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_fygJz3r147SBHwA8pOypeg7U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103ba12Px4Wvfu2AlXDVkBos",
          "created": 1393956132,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103ba12Px4Wvfu2Ao7PWbkiG",
              "object": "charge",
              "created": 1393956132,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103ba12Px4Wvfu2A86HUmpl7",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2016,
                "fingerprint": "jgFh3FXSqUbvxQj6",
                "customer": "cus_3ba1qrCz26qEni",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103ba12Px4Wvfu2Av0kxtFYO",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3ba1qrCz26qEni",
              "invoice": "in_103ba12Px4Wvfu2AJbEEjPWb",
              "description": null,
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3ba1hOGpEf4j68"
        }
  recorded_at: Tue, 04 Mar 2014 20:12:35 GMT
recorded_with: VCR 2.8.0
