---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=2&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_fygJz3r147SBHwA8pOypeg7U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103bDG2Px4Wvfu2AhUmHOBZI",
          "livemode": false,
          "created": 1393871420,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103bDG2Px4Wvfu2Aaccljhjs",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2018,
            "fingerprint": "ZLpF86gvBgb3c74m",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 03 Mar 2014 18:30:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103bDG2Px4Wvfu2AhUmHOBZI&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_fygJz3r147SBHwA8pOypeg7U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103bDG2Px4Wvfu2A8ZlOTcfp"
          }
        }
  recorded_at: Mon, 03 Mar 2014 18:30:20 GMT
recorded_with: VCR 2.8.0
