---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103oKL2JANYh9MVFdbdkSDZ4&plan=base&email=linda%40123.com
    headers:
      Authorization:
      - Bearer sk_test_ZaKKJ9YpgJPwIZRBGIoYQUXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1396896104,
          "id": "cus_3oKLWaoTtfnOoY",
          "livemode": false,
          "description": null,
          "email": "linda@123.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3oKLWaoTtfnOoY/subscriptions",
            "data": [
              {
                "id": "sub_3oKL82Ian8GFja",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1396894733,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1396896104,
                "status": "active",
                "customer": "cus_3oKLWaoTtfnOoY",
                "cancel_at_period_end": false,
                "current_period_start": 1396896104,
                "current_period_end": 1399488104,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3oKLWaoTtfnOoY/cards",
            "data": [
              {
                "id": "card_103oKL2JANYh9MVFYfMTg203",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2016,
                "fingerprint": "xtjBEsATD6l3c4KY",
                "customer": "cus_3oKLWaoTtfnOoY",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103oKL2JANYh9MVFYfMTg203"
        }
  recorded_at: Mon, 07 Apr 2014 18:41:44 GMT
recorded_with: VCR 2.9.0
