---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103WRs2bKYmLLeQNsiQ4Fh2s&email=john%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_vMbU0m4stwU8Iv83rubhefyU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1392772634,
          "id": "cus_3WRsHIMjRrDU22",
          "livemode": false,
          "description": null,
          "email": "john@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3WRsHIMjRrDU22/subscriptions",
            "data": [
              {
                "id": "sub_3WRs5vTgzwyZM3",
                "plan": {
                  "interval": "month",
                  "name": "The Base Plan",
                  "created": 1392771009,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1392772634,
                "status": "active",
                "customer": "cus_3WRsHIMjRrDU22",
                "cancel_at_period_end": false,
                "current_period_start": 1392772634,
                "current_period_end": 1395191834,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3WRsHIMjRrDU22/cards",
            "data": [
              {
                "id": "card_103WRs2bKYmLLeQNqfRWQlzw",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "mZXT5I2fZ31RqptF",
                "customer": "cus_3WRsHIMjRrDU22",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103WRs2bKYmLLeQNqfRWQlzw"
        }
  recorded_at: Wed, 19 Feb 2014 01:17:18 GMT
recorded_with: VCR 2.8.0
