---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103n4L2JANYh9MVFJzLkThYA&description=Sign%20Up%20Charge%20for%20linda%40123.com
    headers:
      Authorization:
      - Bearer sk_test_ZaKKJ9YpgJPwIZRBGIoYQUXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103n4L2JANYh9MVF3WjdBkPv",
          "object": "charge",
          "created": 1396605945,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103n4L2JANYh9MVFo2sIIkKT",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2016,
            "fingerprint": "xtjBEsATD6l3c4KY",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103n4L2JANYh9MVFzkR5tqWO",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign Up Charge for linda@123.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Fri, 04 Apr 2014 10:05:46 GMT
recorded_with: VCR 2.9.0
