---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103e4l281FHqYYZYHTQdMXcT&description=Sign%20up%20charge%20for%20kobe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_RGvOemBHdAT2h5hLmH7mgiPI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103e4l281FHqYYZYjFUAAP29",
          "object": "charge",
          "created": 1394531779,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103e4l281FHqYYZYsOnxirtY",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 7,
            "exp_year": 2015,
            "fingerprint": "4l2bzVeFtauUxEbn",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103e4l281FHqYYZYGCCuc6xW",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for kobe@example.com",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Tue, 11 Mar 2014 09:56:22 GMT
recorded_with: VCR 2.8.0
