---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_1042Cg4XNy2YPdwsj1TtW7GL&description=Sign%20up%20charge%20for%20jakob.kuvalis%40bartoletti.biz
    headers:
      Authorization:
      - Bearer sk_test_tO8yd15PGNgYGIUMU5Y5Vlgr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_1042Cg4XNy2YPdwsZnTKJqjE"
          }
        }
  recorded_at: Wed, 14 May 2014 19:42:57 GMT
recorded_with: VCR 2.9.0
