---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103WRs2bKYmLLeQNnjBkcpc5&email=john%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_vMbU0m4stwU8Iv83rubhefyU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 19 Feb 2014 01:17:06 GMT
recorded_with: VCR 2.8.0
