---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103Ut62nsCLSc89fMJjma5pJ&description=Sign%20up%20charge%20for%20bill%40example.com
    headers:
      Authorization:
      - Bearer sk_test_5wuKXBDYou3thIf4GE6htyrF
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103Ut62nsCLSc89fx0yCC69V"
          }
        }
  recorded_at: Fri, 14 Feb 2014 21:16:13 GMT
recorded_with: VCR 2.8.0
