---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_1042Cg4XNy2YPdwsywbttDKD&description=Sign%20up%20charge%20for%20walter%40collinsfranecki.org
    headers:
      Authorization:
      - Bearer sk_test_tO8yd15PGNgYGIUMU5Y5Vlgr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1042Cg4XNy2YPdwscZFHjFQF",
          "object": "charge",
          "created": 1400096580,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_1042Cg4XNy2YPdws01KwfZVP",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "Y6WJ0n1gVFVTeAgP",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_1042Cg4XNy2YPdwsbgME2ARN",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for walter@collinsfranecki.org",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Wed, 14 May 2014 19:43:01 GMT
recorded_with: VCR 2.9.0
