---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103hEW281FHqYYZYLUbU6H7r&email=alice%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_RGvOemBHdAT2h5hLmH7mgiPI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1395259947,
          "id": "cus_3hEWjaLsKUVtX1",
          "livemode": false,
          "description": null,
          "email": "alice@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3hEWjaLsKUVtX1/subscriptions",
            "data": [
              {
                "id": "sub_3hEW24fhKVCuYC",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1395133763,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1395259947,
                "status": "active",
                "customer": "cus_3hEWjaLsKUVtX1",
                "cancel_at_period_end": false,
                "current_period_start": 1395259947,
                "current_period_end": 1397938347,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3hEWjaLsKUVtX1/cards",
            "data": [
              {
                "id": "card_103hEW281FHqYYZY2OiHHx6f",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 7,
                "exp_year": 2015,
                "fingerprint": "4l2bzVeFtauUxEbn",
                "customer": "cus_3hEWjaLsKUVtX1",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103hEW281FHqYYZY2OiHHx6f"
        }
  recorded_at: Wed, 19 Mar 2014 20:12:36 GMT
recorded_with: VCR 2.8.0
