---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14OuUG4YbhcI9p1LpdUg4hUu&description=Sign%20Up%20Charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_4XEDZACDjx28MH3mRygFsCNw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14OuUI4YbhcI9p1LhHspGOs5"
          }
        }
  recorded_at: Thu, 07 Aug 2014 17:15:38 GMT
recorded_with: VCR 2.9.2
