---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103eAr281FHqYYZYVYHN9uJ8&description=Sign%20up%20charge%20for%20alice%40example.com
    headers:
      Authorization:
      - Bearer sk_test_RGvOemBHdAT2h5hLmH7mgiPI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103eAr281FHqYYZYARwwHkOh"
          }
        }
  recorded_at: Tue, 11 Mar 2014 16:14:09 GMT
recorded_with: VCR 2.8.0
