---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103oAN2JANYh9MVFFV39M3Ii&description=Sign%20Up%20Charge%20for%20desmonddai583%40gmail.com
    headers:
      Authorization:
      - Bearer sk_test_ZaKKJ9YpgJPwIZRBGIoYQUXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103oAN2JANYh9MVF1e0rGdvb"
          }
        }
  recorded_at: Mon, 07 Apr 2014 08:23:47 GMT
recorded_with: VCR 2.9.0
