---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14LvXg4PSbBPalmqzxwJwHW5&description=Sign%20up%20charge%20for%20paq12345%40paq.com
    headers:
      Authorization:
      - Bearer sk_test_4P1NX8fcExkKf0FgRqoznGoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14LvXi4PSbBPalmqC7tBvCo1"
          }
        }
  recorded_at: Wed, 30 Jul 2014 11:46:50 GMT
recorded_with: VCR 2.9.2
