---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103vS822Cnd6mhFUAhSLopeR&description=Sign%20up%20charge%20for%20joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_fM1yxjQ31MAtXonVz0LqAEzR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103vS922Cnd6mhFUCq0tUvqS",
          "object": "charge",
          "created": 1398539601,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103vS822Cnd6mhFUh7rWqzku",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2016,
            "fingerprint": "CrXmdby9jKYifbYP",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103vS922Cnd6mhFU3DDsARob",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for joe@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Sat, 26 Apr 2014 19:13:21 GMT
recorded_with: VCR 2.9.0
