---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103vSK22Cnd6mhFUtMfvXzQx&description=Sign%20up%20charge%20for%20joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_fM1yxjQ31MAtXonVz0LqAEzR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103vSK22Cnd6mhFU0lLhEsop"
          }
        }
  recorded_at: Sat, 26 Apr 2014 19:24:47 GMT
recorded_with: VCR 2.9.0
