<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password reset request</h1>
    <p>
      You have requested to reset your MyFlix password. Please click the link below to go to the password reset page.
      <br>
    </p>
    <p><%= link_to "Reset My Password", password_reset_url(@user.token) %></p>
  </body>
</html>