!!! 5
%html
  %body
    %p
      You have requested to reset your password.
      %br
      %br
      Please follow the link below in order to reset your password.
      %br
      %br
      = update_forget_passwords_path(@user.password_token)