!!! 5
%html
  %body
    %p
      You have requested to reset your password.
      %br
      %br
      Please follow the link below in order to reset your password.
      %br
      %br
      = url_for controller: :users, action: :reset_password, password_token: @user.password_token, host: 'http://myflix-crq.heroku.com'