!!! 5
%html
  %body
    %p
      You have requested to reset your password.
      %br
      %br
      Please follow the link below in order to reset your password.
      %br
      %br
      = link_to 'Reset Password', update_forget_passwords_url(@user.password_token)