!!! 5
%html(lang="en-US")
  %body
    %h1= "Hi #{@user.full_name}"
    %p
      This is a instruction to reset your password.
      Click
      = link_to "here", password_reset_url(id: @user.token)
      to reset password.
