<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.full_name %></h1>
    <p>
      This is a instruction to reset your password.
    </p>
    <p>Click <a href="">here</a> to reset password. </p>
  </body>
</html>
