<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MyFlix <%= @user.full_name %>!</h1>
    <p>
      You have successfully signed up with MyFlix.
      Sign in with your email address (<%= @user.email %>) and your chosen password.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>