%section.confirm_password_reset.container
  .row
    .confirm-box.col-sm-6.col-sm-offset-3
      %header
        %h1.text-center
          Email Sent
      %p.text-center Check your email for a link to reset your password
