-page_title("forgot password")

%section.forgot_password.container
  .row
    .col-sm-10.col-bg-offset-1
      = form_tag forgot_passwords_path, class: 'sign_in form-horizontal' do 
        %header
          %h1 Forgot Password?
          %br
          %p We will send you an email with a link that you can use to reset your password.
          .form-group
            = label_tag :email, "Email Address"
            = email_field_tag :email, nil, class: 'form-control'

        .form-group.action
        / %input(type="submit" value="Send Email" class="btn btn-default")
        =submit_tag "Send Email", class: "btn btn-default"
