---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=3&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_tO8yd15PGNgYGIUMU5Y5Vlgr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1041Ud4XNy2YPdwsJEFmYmdp",
          "livemode": false,
          "created": 1399932725,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1041Ud4XNy2YPdwsabLm6l4W",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "AqqpJ0BRHI6sc19k",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 12 May 2014 22:12:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_1041Ud4XNy2YPdwsJEFmYmdp
    headers:
      Authorization:
      - Bearer sk_test_tO8yd15PGNgYGIUMU5Y5Vlgr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_1041Ud4XNy2YPdws4bAyHF98"
          }
        }
  recorded_at: Mon, 12 May 2014 22:12:05 GMT
recorded_with: VCR 2.9.0
