---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Sign%20up%20charge%20for%20berenice.gutmann%40roberts.com
    headers:
      Authorization:
      - Bearer sk_test_tO8yd15PGNgYGIUMU5Y5Vlgr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "You must supply either a card or a customer id"
          }
        }
  recorded_at: Tue, 13 May 2014 19:33:11 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/0779f810-7ce6-8f4a-aa31-36b608e6bd27/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":".//input[./@type = ''submit'' or ./@type
        = ''reset'' or ./@type = ''image'' or ./@type = ''button''][((./@id = ''Register''
        or ./@value = ''Register'') or ./@title = ''Register'')] | .//input[./@type
        = ''image''][./@alt = ''Register''] | .//button[(((./@id = ''Register'' or
        ./@value = ''Register'') or normalize-space(string(.)) = ''Register'') or
        ./@title = ''Register'')] | .//input[./@type = ''image''][./@alt = ''Register'']"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"findElements","sessionId":"0779f810-7ce6-8f4a-aa31-36b608e6bd27","status":0,"value":[{"ELEMENT":"{ff0c5d92-28fc-f44a-b346-e9c5ef13b47e}"}]}'
  recorded_at: Tue, 13 May 2014 21:03:41 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/0779f810-7ce6-8f4a-aa31-36b608e6bd27/element/%7Bff0c5d92-28fc-f44a-b346-e9c5ef13b47e%7D/displayed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"isElementDisplayed","sessionId":"0779f810-7ce6-8f4a-aa31-36b608e6bd27","status":0,"value":true}'
  recorded_at: Tue, 13 May 2014 21:03:41 GMT
- request:
    method: get
    uri: http://127.0.0.1:7055/hub/session/0779f810-7ce6-8f4a-aa31-36b608e6bd27/element/%7Bff0c5d92-28fc-f44a-b346-e9c5ef13b47e%7D/enabled
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"isElementEnabled","sessionId":"0779f810-7ce6-8f4a-aa31-36b608e6bd27","status":0,"value":true}'
  recorded_at: Tue, 13 May 2014 21:03:41 GMT
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/0779f810-7ce6-8f4a-aa31-36b608e6bd27/element/%7Bff0c5d92-28fc-f44a-b346-e9c5ef13b47e%7D/click
    body:
      encoding: UTF-8
      string: '{}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"clickElement","sessionId":"0779f810-7ce6-8f4a-aa31-36b608e6bd27","status":0,"value":"ok"}'
  recorded_at: Tue, 13 May 2014 21:03:41 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:7055/hub/session/34063cf4-72e1-414a-9c5a-6b6721989ea8/element/%7B0606ea47-1775-9b46-87ed-997e9d24dace%7D/click
    body:
      encoding: UTF-8
      string: '{}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"clickElement","sessionId":"34063cf4-72e1-414a-9c5a-6b6721989ea8","status":0,"value":"ok"}'
  recorded_at: Tue, 13 May 2014 21:05:11 GMT
recorded_with: VCR 2.9.0
