!!! 5
%html(lang="en-US")
  %head
  %body
    %section.content.clearfix
      %p= "Hi #{ @user.full_name },"
      %p= "Your MyFlix account has been suspended due to a failed payment"
      %p= "Please pay your subscription to reactivate account."

      &copy 2013 MyFLiX
