!!! 5
%html(lang="en-US")
  %body
    %h3 To Reset Your Password:
    %br

    %p Click the following link or paste it into your browser. It will take you to a webpage where you can enter your NEW password:
    %p= link_to "Reset Password", password_reset_url(@user.password_reset_token)
    %br

    %p If you do not click this link and change your password within 2 hours of submitting a password reset, the link will be invalidated for your security. If this happens to you, simply visit the following page to apply again and we will send you a new link via email:
    %p= link_to "Apply For Password Reset", forgot_password_path
    %br

    %br
    %br
    %br

    %p Sincerely,
    %p The MyFLiX Team










