<!doctype html>
<html>
  <body>
    <h3> To Reset Your Email Password </h3>
    <p>
        Click the following link or paste it into your browser
        It will take you to a webpage where you can enter your NEW password:
        <%= link_to "#{@url}", @url %>
    </p>
    <p>
      If you do not click this link within 2 hours of submitting a password reset, the link will be invalidated for your security.
      If this happens to you, simply visit the following page to apply again:
      <%= link_to "Reset Password Page", forgot_password_path(host: "http://arcane-stream-2628.herokuapp.com") %>
    </p>
    <p>
      If you did not attempt to reset your password, please click the following link to notify us and deactivate the reset option.
      <%= link_to "Deactivate Reset Password", '#' %>
    </p>
    <br/>
    <br/>
    <br/>
    <p>
      Sincerely,
      The MyFLiX Team
    </p>
  </body>
</html>









