!!! 5
%html(lang="en-US")
  %head
  %body
    %section.content.clearfix
      %h1= "Whoops you forgot your password...who doesn't?"
      %p= "Hi #{ @user.full_name.split(' ').first }"
      %p= "Click on the link below and choose a new password:"
      =link_to 'reset password', password_reset_url(@token)

    %footer
      &copy 2013 MyFLiX
