!!! 5
%html(lang="en-US")
  %body
    %section.content.clearfix
      %h1= "Welcome to MyFlix #{ @user.full_name }"
      %p= "Your user name is #{ @user.username }"
    %footer
      &copy 2013 MyFLiX
