---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_fygJz3r147SBHwA8pOypeg7U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103bDG2Px4Wvfu2AcGKNyho8",
          "livemode": false,
          "created": 1393871422,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103bDG2Px4Wvfu2ApuNd8bIt",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2018,
            "fingerprint": "jgFh3FXSqUbvxQj6",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 03 Mar 2014 18:30:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103bDG2Px4Wvfu2AcGKNyho8&plan=basic&email=alice%40example.com
    headers:
      Authorization:
      - Bearer sk_test_fygJz3r147SBHwA8pOypeg7U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1393871423,
          "id": "cus_3bDG53gjzl3n8y",
          "livemode": false,
          "description": null,
          "email": "alice@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3bDG53gjzl3n8y/subscriptions",
            "data": [
              {
                "id": "sub_3bDGLiaj49OKQq",
                "plan": {
                  "interval": "month",
                  "name": "Basic Service",
                  "created": 1393864876,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1393871423,
                "status": "active",
                "customer": "cus_3bDG53gjzl3n8y",
                "cancel_at_period_end": false,
                "current_period_start": 1393871423,
                "current_period_end": 1396549823,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3bDG53gjzl3n8y/cards",
            "data": [
              {
                "id": "card_103bDG2Px4Wvfu2ApuNd8bIt",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 2,
                "exp_year": 2018,
                "fingerprint": "jgFh3FXSqUbvxQj6",
                "customer": "cus_3bDG53gjzl3n8y",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103bDG2Px4Wvfu2ApuNd8bIt"
        }
  recorded_at: Mon, 03 Mar 2014 18:30:23 GMT
recorded_with: VCR 2.8.0
