---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=gbp&card=tok_104AZh4tb5cZffxRSPITpTI2&description=Sign%20up%20charge%20for%20foo%40example.com
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's security code is incorrect.",
            "type": "card_error",
            "param": "cvc",
            "code": "incorrect_cvc",
            "charge": "ch_104AZh4tb5cZffxRevZojx7i"
          }
        }
  recorded_at: Fri, 06 Jun 2014 04:01:52 GMT
recorded_with: VCR 2.9.2
