---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=gbp&card=tok_104AZh4tb5cZffxRkZb1TJGO&description=Sign%20up%20charge%20for%20foo%40example.com
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_104AZh4tb5cZffxRRYvRGInZ",
          "object": "charge",
          "created": 1402027316,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "gbp",
          "refunded": false,
          "card": {
            "id": "card_104AZh4tb5cZffxRUsepLcNp",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 7,
            "exp_year": 2018,
            "fingerprint": "VfkQZgiLeMQDObnc",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_104AZh4tb5cZffxRwrZ9VLX3",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for foo@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Fri, 06 Jun 2014 04:01:57 GMT
recorded_with: VCR 2.9.2
