---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_104CVS4tb5cZffxRRFgxS6Ve
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_104CVS4tb5cZffxRRFgxS6Ve",
          "created": 1402472781,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_104CVS4tb5cZffxRN42z2Jrw",
              "object": "charge",
              "created": 1402472781,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "gbp",
              "refunded": false,
              "card": {
                "id": "card_104CVS4tb5cZffxRKbkvw2ND",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 6,
                "exp_year": 2016,
                "fingerprint": "VfkQZgiLeMQDObnc",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4CVSp9GltJYJCq"
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_104CVS4tb5cZffxRrMEy5Txg",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_4CVSp9GltJYJCq",
              "invoice": "in_104CVS4tb5cZffxRScQjHfNV",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "MyFlix monthly"
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4CVSUHW1kZ5ONx"
        }
  recorded_at: Wed, 11 Jun 2014 09:19:04 GMT
recorded_with: VCR 2.9.2
