---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103WRy2bKYmLLeQNs7a7dDcx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_vMbU0m4stwU8Iv83rubhefyU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103WRy2bKYmLLeQNs7a7dDcx",
          "created": 1392772995,
          "livemode": false,
          "type": "invoice.payment_succeeded",
          "data": {
            "object": {
              "date": 1392772995,
              "id": "in_103WRy2bKYmLLeQNqsQuek1U",
              "period_start": 1392772995,
              "period_end": 1392772995,
              "lines": {
                "object": "list",
                "count": 1,
                "url": "/v1/invoices/in_103WRy2bKYmLLeQNqsQuek1U/lines",
                "data": [
                  {
                    "id": "sub_3WRyiDiHCbBxAC",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 999,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1392772995,
                      "end": 1395192195
                    },
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "The Base Plan",
                      "created": 1392771009,
                      "amount": 999,
                      "currency": "usd",
                      "id": "base",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": null,
                      "metadata": {}
                    },
                    "description": null,
                    "metadata": null
                  }
                ]
              },
              "subtotal": 999,
              "total": 999,
              "customer": "cus_3WRyfgX5rfmeD6",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "paid": true,
              "livemode": false,
              "attempt_count": 0,
              "amount_due": 999,
              "currency": "usd",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "charge": "ch_103WRy2bKYmLLeQNchSNG1xK",
              "discount": null,
              "application_fee": null,
              "subscription": "sub_3WRyiDiHCbBxAC",
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3WRyAZFfn2ce0m"
        }
  recorded_at: Wed, 19 Feb 2014 02:01:33 GMT
recorded_with: VCR 2.8.0
