---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14WfYQEEWX6SuFHyQ2oa1aOn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14WfYQEEWX6SuFHyQ2oa1aOn",
          "created": 1409280958,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14WfYQEEWX6SuFHyC7JpYszt",
              "object": "charge",
              "created": 1409280958,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "aud",
              "refunded": false,
              "card": {
                "id": "card_14WfYFEEWX6SuFHywRXPA22k",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2016,
                "fingerprint": "hjWFn5h9EJtWX9XC",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4g1b5nSipBzUzE"
              },
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14WfYQEEWX6SuFHyC7JpYszt/refunds",
                "data": []
              },
              "balance_transaction": "txn_14WfYQEEWX6SuFHyqfWQNng8",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_4g1b5nSipBzUzE",
              "invoice": "in_14WfYQEEWX6SuFHyx6JYJ2GQ",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "MyFlix bill",
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4g1bC7fgwIEwTi"
        }
  recorded_at: Fri, 29 Aug 2014 05:37:27 GMT
recorded_with: VCR 2.9.2
