---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103gnS281FHqYYZYJ5O3FlEw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_RGvOemBHdAT2h5hLmH7mgiPI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103gnS281FHqYYZYJ5O3FlEw",
          "created": 1395159273,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103gnS281FHqYYZYJKuvYUI5",
              "object": "charge",
              "created": 1395159273,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103gnS281FHqYYZYBXRaD3o1",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 7,
                "exp_year": 2015,
                "fingerprint": "4l2bzVeFtauUxEbn",
                "customer": "cus_3gnSqDKtY34eov",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103gnS281FHqYYZYogmwSGxd",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3gnSqDKtY34eov",
              "invoice": "in_103gnS281FHqYYZYBvveOuGO",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3gnSk1QUm1vqWc"
        }
  recorded_at: Wed, 19 Mar 2014 20:12:06 GMT
recorded_with: VCR 2.8.0
