---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103tgP2aBm1z1KoTOumVlRoJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_dLCz1GXon4KReHPted9xtucP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103tgP2aBm1z1KoTOumVlRoJ",
          "created": 1398131402,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103tgP2aBm1z1KoTFkAPsURw",
              "object": "charge",
              "created": 1398131402,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103tgP2aBm1z1KoTC0qyRFv1",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2015,
                "fingerprint": "jxt5UvtpyqyJjD9H",
                "customer": "cus_3tgP50PMbwLWqD",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103tgP2aBm1z1KoTbch0y4HT",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3tgP50PMbwLWqD",
              "invoice": "in_103tgP2aBm1z1KoTLl5pkp2U",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": "MyFlix Monthly"
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3tgPyktEY0usZ0"
        }
  recorded_at: Tue, 22 Apr 2014 20:21:25 GMT
recorded_with: VCR 2.9.0
