%section.confirm_password_reset.container
  .row
    .col-sm-10.col-sm-offset-1
      - if @found_email
        %p We have sent an email with instruction to reset your password.
      -else
        %p We're sorry! We are unable to find that email address in our system.
