%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      -#= bootstrap_form_for(@user) do |f|
      = bootstrap_form_for(@user, :url => { :action => :start_session} ) do |f|
        %header
          %h1 Sign In
        = f.email_field :email
        = f.password_field :password
        = f.submit "Sign In", class: "btn btn-default"
