---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2016&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14T3l1EEWX6SuFHyIpHgaiOn",
          "livemode": false,
          "created": 1408420683,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14T3l1EEWX6SuFHyRDd7bKe3",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "smRohPuadOa0hrVC",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Tue, 19 Aug 2014 03:58:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=aud&card=tok_14T3l1EEWX6SuFHyIpHgaiOn&description=An%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14T3l3EEWX6SuFHyKVJKV5W4"
          }
        }
  recorded_at: Tue, 19 Aug 2014 03:58:04 GMT
recorded_with: VCR 2.9.2
