---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1049zc4tb5cZffxRKGeOH3po",
          "livemode": false,
          "created": 1401893095,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1049zc4tb5cZffxRmuBdzaAg",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2019,
            "fingerprint": "VfkQZgiLeMQDObnc",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Wed, 04 Jun 2014 14:44:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&currency=gbp&card=tok_1049zc4tb5cZffxRKGeOH3po&description=Charge%20for%20test%40example.com
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1049zc4tb5cZffxRgajOouzv",
          "object": "charge",
          "created": 1401893096,
          "livemode": false,
          "paid": true,
          "amount": 400,
          "currency": "gbp",
          "refunded": false,
          "card": {
            "id": "card_1049zc4tb5cZffxRmuBdzaAg",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2019,
            "fingerprint": "VfkQZgiLeMQDObnc",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_1049zc4tb5cZffxRhmAqYBQd",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Charge for test@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Wed, 04 Jun 2014 14:44:56 GMT
recorded_with: VCR 2.9.2
