---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4XEDZACDjx28MH3mRygFsCNw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14ObKj4YbhcI9p1Lmf1e8wpS",
          "livemode": false,
          "created": 1407358109,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14ObKj4YbhcI9p1LX4EHm2Jh",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2018,
            "fingerprint": "3l8TgH8lYqPNQOz1",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Wed, 06 Aug 2014 20:48:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14ObKj4YbhcI9p1Lmf1e8wpS&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_4XEDZACDjx28MH3mRygFsCNw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14ObKn4YbhcI9p1L1AENGGU7",
          "object": "charge",
          "created": 1407358113,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14ObKj4YbhcI9p1LX4EHm2Jh",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2018,
            "fingerprint": "3l8TgH8lYqPNQOz1",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14ObKn4YbhcI9p1L1AENGGU7/refunds",
            "data": []
          },
          "balance_transaction": "txn_14ObKn4YbhcI9p1L2wBlKwSM",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "a valid charge",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Wed, 06 Aug 2014 20:48:33 GMT
recorded_with: VCR 2.9.2
