---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_fM1yxjQ31MAtXonVz0LqAEzR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103v5s22Cnd6mhFUMXxuoOaG",
          "livemode": false,
          "created": 1398456790,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103v5s22Cnd6mhFUqWXEL8Vz",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2017,
            "fingerprint": "0dITVAnpVlNz9wPJ",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Fri, 25 Apr 2014 20:13:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103v5s22Cnd6mhFUMXxuoOaG
    headers:
      Authorization:
      - Bearer sk_test_fM1yxjQ31MAtXonVz0LqAEzR
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103v5s22Cnd6mhFUiM5Ldhfy"
          }
        }
  recorded_at: Fri, 25 Apr 2014 20:13:11 GMT
recorded_with: VCR 2.9.0
