---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_u4QITAafMYa7RMbWbWjnA7VA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103xxq28PjG3dl11DLb1IEWv",
          "livemode": false,
          "created": 1399118829,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103xxq28PjG3dl117fAOSLRj",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "OETLyPF3B8PxfIYx",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sat, 03 May 2014 12:07:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103xxq28PjG3dl11DLb1IEWv&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_u4QITAafMYa7RMbWbWjnA7VA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103xxq28PjG3dl11K9RFbyfX",
          "object": "charge",
          "created": 1399118830,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103xxq28PjG3dl117fAOSLRj",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "OETLyPF3B8PxfIYx",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103xxq28PjG3dl117e5bhHtl",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "a valid charge",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Sat, 03 May 2014 12:07:10 GMT
recorded_with: VCR 2.9.0
