---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=400000000000002&card[exp_month]=7&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4P1NX8fcExkKf0FgRqoznGoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card number is incorrect.",
            "type": "card_error",
            "param": "number",
            "code": "incorrect_number"
          }
        }
  recorded_at: Tue, 29 Jul 2014 12:33:11 GMT
recorded_with: VCR 2.9.2
