---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_104AIx4tb5cZffxRA1XASNCu",
          "livemode": false,
          "created": 1401965004,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_104AIx4tb5cZffxRID0qUwGm",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2019,
            "fingerprint": "hGDCOoamnpsuRv2t",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 05 Jun 2014 10:43:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&currency=gbp&card=tok_104AIx4tb5cZffxRA1XASNCu&description=Charge%20for%20test%40example.com
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_104AIx4tb5cZffxRlMlN6x8n"
          }
        }
  recorded_at: Thu, 05 Jun 2014 10:43:25 GMT
recorded_with: VCR 2.9.2
