---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=7&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4P1NX8fcExkKf0FgRqoznGoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14Lur34PSbBPalmqEiOGDisJ",
          "livemode": false,
          "created": 1406718165,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14Lur34PSbBPalmq1CpQ3SYY",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "CVvmSuxKTnxAqpP3",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Wed, 30 Jul 2014 11:02:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14Lur34PSbBPalmqEiOGDisJ&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_4P1NX8fcExkKf0FgRqoznGoI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14Lur44PSbBPalmq5JqLjKvh"
          }
        }
  recorded_at: Wed, 30 Jul 2014 11:02:46 GMT
recorded_with: VCR 2.9.2
