---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=1&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_5wuKXBDYou3thIf4GE6htyrF
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103UrR2nsCLSc89fznj0GOHf",
          "livemode": false,
          "created": 1392406427,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103UrR2nsCLSc89fdzx8gW80",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2018,
            "fingerprint": "jfpOykWiYyPh12k9",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Fri, 14 Feb 2014 19:32:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103UrR2nsCLSc89fznj0GOHf&description=a%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_5wuKXBDYou3thIf4GE6htyrF
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103UrR2nsCLSc89f6EZ4TFJD"
          }
        }
  recorded_at: Fri, 14 Feb 2014 19:32:50 GMT
recorded_with: VCR 2.8.0
