---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_u4QITAafMYa7RMbWbWjnA7VA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103yTX28PjG3dl11CJ9OE5BT",
          "livemode": false,
          "created": 1399236680,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103yTX28PjG3dl111f841d9m",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "kSgTndG9Apv4VK3n",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sun, 04 May 2014 20:51:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103yTX28PjG3dl11CJ9OE5BT&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_u4QITAafMYa7RMbWbWjnA7VA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103yTX28PjG3dl11VAxwuymI"
          }
        }
  recorded_at: Sun, 04 May 2014 20:51:21 GMT
recorded_with: VCR 2.9.0
