---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=3&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_RGvOemBHdAT2h5hLmH7mgiPI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103hEV281FHqYYZYay7usjUk",
          "livemode": false,
          "created": 1395259900,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103hEV281FHqYYZYgJZT8zY1",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "1qKiAqdpgI8Cj8xT",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Wed, 19 Mar 2014 20:11:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103hEV281FHqYYZYay7usjUk&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_RGvOemBHdAT2h5hLmH7mgiPI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103hEV281FHqYYZYJaj7Nxb8"
          }
        }
  recorded_at: Wed, 19 Mar 2014 20:11:50 GMT
recorded_with: VCR 2.8.0
