---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_ZaKKJ9YpgJPwIZRBGIoYQUXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103oKB2JANYh9MVF0MbIbOBt",
          "livemode": false,
          "created": 1396895496,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103oKB2JANYh9MVF36Se0Uay",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2015,
            "fingerprint": "qCt362B9PrQCW6gz",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 07 Apr 2014 18:31:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&currency=usd&card=tok_103oKB2JANYh9MVF0MbIbOBt&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_ZaKKJ9YpgJPwIZRBGIoYQUXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103oKB2JANYh9MVFHjPwPFPx"
          }
        }
  recorded_at: Mon, 07 Apr 2014 18:31:38 GMT
recorded_with: VCR 2.9.0
