%article.video_category
  - video = @videos.first
  - old_category = @videos.first.category
  %header
    %h3= link_to "#{video.category}"
  .videos.row
    - @videos.each do |video|
      - if old_category == video.category
        .video.col-sm-2
          = link_to video_path(video), nil do
            %img{:src => "#{video.small_cover_url}", :width => "166", :height => "236"}