- @categories.each do |category|
  %article.video_category
    %header
      %h3
        = link_to category.name, category_path(category)
    .videos.row
      - Category.recent_video(category).each do |video|
        .video.span2
          = link_to (image_tag video.small_cover_url), video_path(video)