- @categories.each do |category|
  %article.video_category
    %header
      %h3= link_to category.name, category_path(category)
    .videos.row
      - category.recent_videos.each do |video|
        .video.col-sm-2
          = link_to video_path(video) do
            %img(src="#{video.small_cover_url}")