%article.video_category
  - @categories.each do |c|
    %header
      %br
        %h3= link_to c.name, category_path(c)
      
    .videos.row
      %br
        - 4.times do
          - @videos.each do |v|
            .video.col-sm-2
              = link_to v, nil do
                %img(src="#{v.small_cover_url}")



