%article.video_category
  %header
    %h3= link_to "Add Categories"
  .videos.row
    - @videos.each do |video|
      .video.col-sm-2
        = link_to video_path(video) do
          = image_tag "/assets/#{video.small_cover_url}", class: 'img-thumbnail'
