<% @categories.each do |category| %>
  <article class='video_category'>
    <header>
      <h3>
        <%= link_to category.name, category_path(category) %>
      </h3>
    </header>
    <div class='videos row'>
      <% category.recent_videos.each do |video| %>
        <div class='video col-sm-2'>
          <%= link_to image_tag(video.small_cover_url), video_path(video) %>
        </div>
      <% end %>
    </div>
  </article>
<% end %>
