- @categories.each do |category|
  -if category.videos.size > 0
    %article.video_category
      %header
        =render category
      .videos.row
        -category.recent_videos.each do |video|
          .video.col-sm-2
            = link_to video_path(video), nil do
              %img(src="#{video.small_url}")
