- @genres.each do |genre|
  %article.video_category
    %header
      %h3= link_to genre.name.titleize, genre_path(genre)
    .videos.row
      - genre.recent_videos.each do |video|
        .video.col-sm-2
          = link_to video_path(video), { id: video.id } do
            = image_tag video.small_cover, class: 'img-thumbnail'
