%article.video
  .container
    .row
      .video_large_cover.span7.offset1
        %img(src= "#{@video.source}")
      .video_info.span3
        %header
          %h3= @video.name
          %span Rating: 4.5/5.0
        %p= @video.description