- flash.each do |name, msg|
  -namev3 = name == "notice" ?  "success" : name == "error" ? "danger" : name
  %div(class="alert alert-#{namev3}")
    %a.close(data-dismiss='alert') &#215;
    = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
