---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_104CT94tb5cZffxRkWzZLc8P&email=joe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1402464258,
          "id": "cus_4CT9e7NjaanKwH",
          "livemode": false,
          "description": null,
          "email": "joe@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4CT9e7NjaanKwH/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4CT9e7NjaanKwH/cards",
            "data": [
              {
                "id": "card_104CT94tb5cZffxRrAqqlUYJ",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "VfkQZgiLeMQDObnc",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4CT9e7NjaanKwH"
              }
            ]
          },
          "default_card": "card_104CT94tb5cZffxRrAqqlUYJ"
        }
  recorded_at: Wed, 11 Jun 2014 05:24:18 GMT
recorded_with: VCR 2.9.2
