---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_1042Ci4XNy2YPdws2B4UDeA6&description=Sign%20up%20charge%20for%20osbaldo%40spencer.org
    headers:
      Authorization:
      - Bearer sk_test_tO8yd15PGNgYGIUMU5Y5Vlgr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1042Ci4XNy2YPdwsiVu5ALky",
          "object": "charge",
          "created": 1400096692,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_1042Ci4XNy2YPdwsMUysnMVy",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "Y6WJ0n1gVFVTeAgP",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_1042Ci4XNy2YPdwsoFwch2o1",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for osbaldo@spencer.org",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Wed, 14 May 2014 19:44:52 GMT
recorded_with: VCR 2.9.0
