---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103bzo2Px4Wvfu2APLOs6F2V
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_fygJz3r147SBHwA8pOypeg7U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103bzo2Px4Wvfu2APLOs6F2V",
          "created": 1394052029,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103bzo2Px4Wvfu2AFiYs8f1A",
              "object": "charge",
              "created": 1394052029,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103bzk2Px4Wvfu2AIea9QJeK",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2019,
                "fingerprint": "cLTQIQTuD28cDlU9",
                "customer": "cus_3bcdc3Bt8RhLE1",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3bcdc3Bt8RhLE1",
              "invoice": null,
              "description": "Test Fail",
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_3bzoaE6YEekuzY"
        }
  recorded_at: Wed, 05 Mar 2014 21:09:49 GMT
recorded_with: VCR 2.8.0
