---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14XnaQEEWX6SuFHy7KMCsrvx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14XnaQEEWX6SuFHy7KMCsrvx",
          "created": 1409550162,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_14XnaQEEWX6SuFHy3Kx8uyzF",
              "object": "charge",
              "created": 1409550162,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "aud",
              "refunded": false,
              "card": {
                "id": "card_14XnZYEEWX6SuFHyBcnIhUlg",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2016,
                "fingerprint": "glNUu5jH6pNah22P",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4g4tUVI4HExuLc"
              },
              "captured": false,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14XnaQEEWX6SuFHy3Kx8uyzF/refunds",
                "data": []
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_4g4tUVI4HExuLc",
              "invoice": null,
              "description": "Failed charge",
              "dispute": null,
              "metadata": {},
              "statement_description": "failed charge",
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_4hByzZUkgl3kdQ"
        }
  recorded_at: Mon, 01 Sep 2014 11:22:47 GMT
recorded_with: VCR 2.9.2
