%section.site_title
  %h1
    Unlimited Movies for Only 9.99 a Month.
    = link_to "Sign Up Now!", register_path
  %p.sign_up
  %p.sign_in
    Have an account? Please
    = link_to "Sign In", sign_in_path
