<section class='site_title'>
  <h1>
    Unlimited Movies for Only 9.99 a Month. 
    <%= link_to 'Sign Up Now!', register_path %>
  </h1>
  <p class='sign_up'></p>
  <p class='sign_in'>
    Have an account? Please
    <%= link_to 'Sign In', sign_in_path %>
  </p>
</section>
