%article.video_category
  %header
    - @category.each do |category|
      %p 
        %h1= category.name
        - category.recent_videos.each do |video|
          %p=video.title
          %p=video.description
          %img(src="#{video.small_cover_url}")





