%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag invitations_path do
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          .form-group
            %label Friend's Name
            .row
              .col-sm-4
                = text_field_tag :full_name, nil, class: "form-control"
          .form-group
            %label Friend's Email Address
            .row
              .col-sm-4
                = email_field_tag :email, nil, class: "form-control"
          .form-group
            %label Invitation Message
            .row
              .col-sm-6
                = text_area_tag :description, "Please join this really cool site!", rows: 10, cols: 25, class: "form-control"
        %fieldset.form-group.action
          %input(type="submit" value="Send Invitation" class="btn btn-default")
