---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_104CsX4tb5cZffxRoAbtRFvh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_104CsX4tb5cZffxRoAbtRFvh",
          "created": 1402558655,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_104CsX4tb5cZffxR3IS78a9Q",
              "object": "charge",
              "created": 1402558655,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "gbp",
              "refunded": false,
              "card": {
                "id": "card_104CsV4tb5cZffxR35kHGnzz",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 6,
                "exp_year": 2017,
                "fingerprint": "PubGhxBySXWAya7l",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4CVSp9GltJYJCq"
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_4CVSp9GltJYJCq",
              "invoice": null,
              "description": "payment failure test",
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4CsX8ouH1RKRpO"
        }
  recorded_at: Thu, 12 Jun 2014 08:15:29 GMT
recorded_with: VCR 2.9.2
