---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103typ2aBm1z1KoTmx9M4y0R
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_dLCz1GXon4KReHPted9xtucP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103typ2aBm1z1KoTmx9M4y0R",
          "created": 1398199894,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103typ2aBm1z1KoTdqmfrZBA",
              "object": "charge",
              "created": 1398199894,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103tyn2aBm1z1KoTwvjRJEVa",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2017,
                "fingerprint": "kOx73STBgwKdTlKu",
                "customer": "cus_3tyLWsakuLAtHv",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3tyLWsakuLAtHv",
              "invoice": null,
              "description": "Payment to fail",
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_3typqVOX3lA4OD"
        }
  recorded_at: Tue, 22 Apr 2014 21:31:00 GMT
recorded_with: VCR 2.9.0
