---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103XBZ2bKYmLLeQN128e2I1G
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_vMbU0m4stwU8Iv83rubhefyU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103XBZ2bKYmLLeQN128e2I1G",
          "created": 1392942589,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103XBZ2bKYmLLeQNsXaDjiCW",
              "object": "charge",
              "created": 1392942589,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103XBY2bKYmLLeQN5Do1Ahvq",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 2,
                "exp_year": 2016,
                "fingerprint": "eaSHh7fepizTkvUh",
                "customer": "cus_3WpGQKMsTSdKEf",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3WpGQKMsTSdKEf",
              "invoice": null,
              "description": "Payment to fail",
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3XBZgNGjgRzXy4"
        }
  recorded_at: Fri, 21 Feb 2014 00:37:56 GMT
recorded_with: VCR 2.8.0
