---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103oUL2JANYh9MVFH2bSEQWI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ZaKKJ9YpgJPwIZRBGIoYQUXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103oUL2JANYh9MVFH2bSEQWI",
          "created": 1396933332,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103oUL2JANYh9MVF7QG6vZqB",
              "object": "charge",
              "created": 1396933332,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103oUK2JANYh9MVFK0DTpq5z",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2016,
                "fingerprint": "BUojGsB2zKuzsWp5",
                "customer": "cus_3oMnNjGP2KFQ0J",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3oMnNjGP2KFQ0J",
              "invoice": null,
              "description": "payment fail",
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_3oUL4KFcHeWJVe"
        }
  recorded_at: Tue, 08 Apr 2014 05:08:38 GMT
recorded_with: VCR 2.9.0
