---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=3&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_7uQjdF9CTlCrkPOwzCRSghPJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14iqOJHTQGbBut9EMpt85VWj",
          "livemode": false,
          "created": 1412182551,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14iqOJHTQGbBut9Er60MuhtX",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2015,
            "fingerprint": "p0mf7iCfxcJ2hLBx",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Wed, 01 Oct 2014 16:55:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_14iqOJHTQGbBut9EMpt85VWj
    headers:
      Authorization:
      - Bearer sk_test_7uQjdF9CTlCrkPOwzCRSghPJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14iqOKHTQGbBut9E2qpJ0WhU"
          }
        }
  recorded_at: Wed, 01 Oct 2014 16:55:52 GMT
recorded_with: VCR 2.9.3
