---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_7uQjdF9CTlCrkPOwzCRSghPJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14iqOtHTQGbBut9E2wVb4upr",
          "livemode": false,
          "created": 1412182587,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14iqOtHTQGbBut9EWmOKuHdc",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2015,
            "fingerprint": "KyRAo5ENVNQjHnp1",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Wed, 01 Oct 2014 16:56:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_14iqOtHTQGbBut9E2wVb4upr
    headers:
      Authorization:
      - Bearer sk_test_7uQjdF9CTlCrkPOwzCRSghPJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14iqOtHTQGbBut9ELl4lWblO",
          "object": "charge",
          "created": 1412182587,
          "livemode": false,
          "paid": true,
          "amount": 300,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14iqOtHTQGbBut9EWmOKuHdc",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2015,
            "fingerprint": "KyRAo5ENVNQjHnp1",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14iqOtHTQGbBut9ELl4lWblO/refunds",
            "data": []
          },
          "balance_transaction": "txn_14iqOtHTQGbBut9EOSDR5fS5",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null
        }
  recorded_at: Wed, 01 Oct 2014 16:56:27 GMT
recorded_with: VCR 2.9.3
