%section.forgot_password.container
  .row
    .col-sm-10.col-bg-offset-1
      %form.sign_in
        %header
          %h1 Forgot Password?
          %p We will send you an email with a link that you can use to reset your password.
        .form-group
          %label Email Address
          .row
            .col-sm-4
              %input.form-control(type="email")
        .form-group.action
          %input(type="submit" value="Send Email" class="btn btn-default")
