%section.genre
  %header.clearfix
    %h1= Category.first.name
    .genre_sorting
      Sort by:
      %select(name="")
        %option(value="a-z") Title: A - Z
        %option(value="z-a") Title: Z - A
        %option(value="rating") Rating
  %article.row
    - Category.first.videos.each do |video|
      .video.col-md-2
        = link_to "", nil do 
          %img(src="#{video.small_cover_url}")
