%section.genre
  %header.clearfix
    - @category.each do |category|
      %p 
        %h1= category.name
        - category.videoes.each do |video|
          %p=video.title
          %p=video.description
          %img(src="#{video.small_cover_url}")





    