%article.video_category
  %header
    %h3= link_to "All Videos"
  .videos.row
    - @videos.each do |video|
      = video.title
      = video.description
      %img(src="#{video.small_cover_url}")
  
