%section.invite.container
  .row
    .span10.offset1
      %form.invite
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          %label Friend's Name
          %input(type="text")
          %label Friend's Email Address
          %input(type="email")
          %label Invitation Message
          %textarea.span4(rows=6) Please join this really cool site!
        %fieldset.action
          %input(type="submit" value="Send Invitation" class="btn")
