%section.reset_password.container
  .row
    .span10.offset1
      %form
        %header
          %h1 Reset Your Password
        %fieldset
          %label New Password
          %input(type="password")
        %fieldset.action
          %input(type="submit" value="Reset Password" class="btn")
