%section.sign_in.container
  .row
    .span10.offset1
      %form.sign_in
        %header
          %h1 Sign in
        %fieldset
          %label Email Address
          %input(type="email")
          %label Password
          %input(type="password")
        %fieldset.action
          %input(type="submit" value="Sign in" class="btn")
