---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_tO8yd15PGNgYGIUMU5Y5Vlgr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1042Ck4XNy2YPdwsdsGyVz7G",
          "livemode": false,
          "created": 1400096780,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1042Ck4XNy2YPdwsVVGAmMQ9",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "Y6WJ0n1gVFVTeAgP",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Wed, 14 May 2014 19:46:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_1042Ck4XNy2YPdwsdsGyVz7G
    headers:
      Authorization:
      - Bearer sk_test_tO8yd15PGNgYGIUMU5Y5Vlgr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1042Ck4XNy2YPdwsKmWpKjq4",
          "object": "charge",
          "created": 1400096780,
          "livemode": false,
          "paid": true,
          "amount": 300,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_1042Ck4XNy2YPdwsVVGAmMQ9",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "Y6WJ0n1gVFVTeAgP",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_1042Ck4XNy2YPdws0ynfRebe",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Wed, 14 May 2014 19:46:20 GMT
recorded_with: VCR 2.9.0
