---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_fygJz3r147SBHwA8pOypeg7U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103bDF2Px4Wvfu2Amw918NBH",
          "livemode": false,
          "created": 1393871415,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103bDF2Px4Wvfu2Av7NXImiA",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2018,
            "fingerprint": "jgFh3FXSqUbvxQj6",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 03 Mar 2014 18:30:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103bDF2Px4Wvfu2Amw918NBH&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_fygJz3r147SBHwA8pOypeg7U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103bDF2Px4Wvfu2AUkUIx0pp",
          "object": "charge",
          "created": 1393871416,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103bDF2Px4Wvfu2Av7NXImiA",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2018,
            "fingerprint": "jgFh3FXSqUbvxQj6",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103bDF2Px4Wvfu2AkTIUWxGv",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "a valid charge",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Mon, 03 Mar 2014 18:30:15 GMT
recorded_with: VCR 2.8.0
