---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=aud&card=tok_14T6NsEEWX6SuFHy5tCIQqzh&description=Sign%20up%20charge%20for%20john%40unicorn.com
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14T6NuEEWX6SuFHyFtohzzGN",
          "object": "charge",
          "created": 1408430782,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "aud",
          "refunded": false,
          "card": {
            "id": "card_14T6NrEEWX6SuFHyV9n5bONO",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2016,
            "fingerprint": "hjWFn5h9EJtWX9XC",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14T6NuEEWX6SuFHyFtohzzGN/refunds",
            "data": []
          },
          "balance_transaction": "txn_14T6NuEEWX6SuFHyy7hWYRbS",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for john@unicorn.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Tue, 19 Aug 2014 06:46:21 GMT
recorded_with: VCR 2.9.2
