---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=aud&card=tok_14T6RZEEWX6SuFHyQykQ4cE1&description=Sign%20up%20charge%20for%20john%40unicorn.com
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14T6RcEEWX6SuFHy6LGPCl6Y"
          }
        }
  recorded_at: Tue, 19 Aug 2014 06:50:12 GMT
recorded_with: VCR 2.9.2
