---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103oL22JANYh9MVFnuF3ndMa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ZaKKJ9YpgJPwIZRBGIoYQUXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103oL22JANYh9MVFnuF3ndMa",
          "created": 1396898713,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103oL22JANYh9MVF6Nbd7dUk",
              "object": "charge",
              "created": 1396898713,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103oL22JANYh9MVFwaBz9Mjo",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2015,
                "fingerprint": "xtjBEsATD6l3c4KY",
                "customer": "cus_3oL2ehExWX1gPR",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103oL22JANYh9MVF9gCKhc0j",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3oL2ehExWX1gPR",
              "invoice": "in_103oL22JANYh9MVFFbgcaxOV",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3oL2z9gALmsy6j"
        }
  recorded_at: Mon, 07 Apr 2014 20:04:32 GMT
recorded_with: VCR 2.9.0
