---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_vMbU0m4stwU8Iv83rubhefyU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103WRd2bKYmLLeQNBsxJk0br",
          "livemode": false,
          "created": 1392771731,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103WRd2bKYmLLeQNwAv2mdUC",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2018,
            "fingerprint": "mZXT5I2fZ31RqptF",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Wed, 19 Feb 2014 01:02:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103WRd2bKYmLLeQNBsxJk0br&email=sheila%40mertz.name&plan=base
    headers:
      Authorization:
      - Bearer sk_test_vMbU0m4stwU8Iv83rubhefyU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1392771732,
          "id": "cus_3WRdlOcGll0YL8",
          "livemode": false,
          "description": null,
          "email": "sheila@mertz.name",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3WRdlOcGll0YL8/subscriptions",
            "data": [
              {
                "id": "sub_3WRdyAgVrJ4M2K",
                "plan": {
                  "interval": "month",
                  "name": "The Base Plan",
                  "created": 1392771009,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1392771732,
                "status": "active",
                "customer": "cus_3WRdlOcGll0YL8",
                "cancel_at_period_end": false,
                "current_period_start": 1392771732,
                "current_period_end": 1395190932,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3WRdlOcGll0YL8/cards",
            "data": [
              {
                "id": "card_103WRd2bKYmLLeQNwAv2mdUC",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 2,
                "exp_year": 2018,
                "fingerprint": "mZXT5I2fZ31RqptF",
                "customer": "cus_3WRdlOcGll0YL8",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103WRd2bKYmLLeQNwAv2mdUC"
        }
  recorded_at: Wed, 19 Feb 2014 01:02:16 GMT
recorded_with: VCR 2.8.0
