---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_RGvOemBHdAT2h5hLmH7mgiPI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103gnR281FHqYYZYGTnwtDmg",
          "livemode": false,
          "created": 1395159239,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103gnR281FHqYYZYEa8fK4J8",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "4l2bzVeFtauUxEbn",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Tue, 18 Mar 2014 16:14:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103gnR281FHqYYZYGTnwtDmg&email=mertie%40moenraynor.net&plan=base
    headers:
      Authorization:
      - Bearer sk_test_RGvOemBHdAT2h5hLmH7mgiPI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1395159240,
          "id": "cus_3gnRZ7qnLpX1UV",
          "livemode": false,
          "description": null,
          "email": "mertie@moenraynor.net",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3gnRZ7qnLpX1UV/subscriptions",
            "data": [
              {
                "id": "sub_3gnRZAE6QuPWWt",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1395133763,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1395159240,
                "status": "active",
                "customer": "cus_3gnRZ7qnLpX1UV",
                "cancel_at_period_end": false,
                "current_period_start": 1395159240,
                "current_period_end": 1397837640,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3gnRZ7qnLpX1UV/cards",
            "data": [
              {
                "id": "card_103gnR281FHqYYZYEa8fK4J8",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2020,
                "fingerprint": "4l2bzVeFtauUxEbn",
                "customer": "cus_3gnRZ7qnLpX1UV",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103gnR281FHqYYZYEa8fK4J8"
        }
  recorded_at: Tue, 18 Mar 2014 16:14:08 GMT
recorded_with: VCR 2.8.0
