---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_104CSi4tb5cZffxRbT31IjzZ",
          "livemode": false,
          "created": 1402462599,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_104CSi4tb5cZffxRpgFDqYyH",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2019,
            "fingerprint": "VfkQZgiLeMQDObnc",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Wed, 11 Jun 2014 04:56:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_104CSi4tb5cZffxRbT31IjzZ&email=dallin_monahan%40dooley.org
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1402462600,
          "id": "cus_4CSiy5Q8seSnr9",
          "livemode": false,
          "description": null,
          "email": "dallin_monahan@dooley.org",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4CSiy5Q8seSnr9/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4CSiy5Q8seSnr9/cards",
            "data": [
              {
                "id": "card_104CSi4tb5cZffxRpgFDqYyH",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 6,
                "exp_year": 2019,
                "fingerprint": "VfkQZgiLeMQDObnc",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4CSiy5Q8seSnr9"
              }
            ]
          },
          "default_card": "card_104CSi4tb5cZffxRpgFDqYyH"
        }
  recorded_at: Wed, 11 Jun 2014 04:56:41 GMT
recorded_with: VCR 2.9.2
