---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_dLCz1GXon4KReHPted9xtucP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103tyL2aBm1z1KoTLFrLfQbm",
          "livemode": false,
          "created": 1398198111,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103tyL2aBm1z1KoTRadWii37",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "3fRbCk8l89fP1qOL",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Tue, 22 Apr 2014 20:21:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103tyL2aBm1z1KoTLFrLfQbm&plan=base&email=wilson%40batzwalter.info
    headers:
      Authorization:
      - Bearer sk_test_dLCz1GXon4KReHPted9xtucP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Tue, 22 Apr 2014 20:21:52 GMT
recorded_with: VCR 2.9.0
