---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14WhetEEWX6SuFHyEVLIu01v",
          "livemode": false,
          "created": 1409289047,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14WhetEEWX6SuFHy8iJLIH6t",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "hjWFn5h9EJtWX9XC",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Fri, 29 Aug 2014 05:10:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14WhetEEWX6SuFHyEVLIu01v&email=angelo%40yundtcasper.org&plan=myflixbasic
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1409289049,
          "id": "cus_4g3mMirxNuayXA",
          "livemode": false,
          "description": null,
          "email": "angelo@yundtcasper.org",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4g3mMirxNuayXA/subscriptions",
            "data": [
              {
                "id": "sub_4g3m8I4QFlrNti",
                "plan": {
                  "interval": "month",
                  "name": "Basic",
                  "created": 1409279632,
                  "amount": 999,
                  "currency": "aud",
                  "id": "myflixbasic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "MyFlix bill"
                },
                "object": "subscription",
                "start": 1409289049,
                "status": "active",
                "customer": "cus_4g3mMirxNuayXA",
                "cancel_at_period_end": false,
                "current_period_start": 1409289049,
                "current_period_end": 1411967449,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "aud",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4g3mMirxNuayXA/cards",
            "data": [
              {
                "id": "card_14WhetEEWX6SuFHy8iJLIH6t",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2016,
                "fingerprint": "hjWFn5h9EJtWX9XC",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4g3mMirxNuayXA"
              }
            ]
          },
          "default_card": "card_14WhetEEWX6SuFHy8iJLIH6t"
        }
  recorded_at: Fri, 29 Aug 2014 05:10:49 GMT
recorded_with: VCR 2.9.2
