---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_RGvOemBHdAT2h5hLmH7mgiPI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103hEV281FHqYYZYN4aRUa29",
          "livemode": false,
          "created": 1395259907,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103hEV281FHqYYZYPxoPL2yM",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "4l2bzVeFtauUxEbn",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Wed, 19 Mar 2014 20:11:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103hEV281FHqYYZYN4aRUa29&email=kiarra_rath%40kshlerin.biz&plan=base
    headers:
      Authorization:
      - Bearer sk_test_RGvOemBHdAT2h5hLmH7mgiPI
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1395259909,
          "id": "cus_3hEVSTk1SWXr3i",
          "livemode": false,
          "description": null,
          "email": "kiarra_rath@kshlerin.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3hEVSTk1SWXr3i/subscriptions",
            "data": [
              {
                "id": "sub_3hEV4DNInk1Wu7",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1395133763,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1395259909,
                "status": "active",
                "customer": "cus_3hEVSTk1SWXr3i",
                "cancel_at_period_end": false,
                "current_period_start": 1395259909,
                "current_period_end": 1397938309,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3hEVSTk1SWXr3i/cards",
            "data": [
              {
                "id": "card_103hEV281FHqYYZYPxoPL2yM",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2020,
                "fingerprint": "4l2bzVeFtauUxEbn",
                "customer": "cus_3hEVSTk1SWXr3i",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103hEV281FHqYYZYPxoPL2yM"
        }
  recorded_at: Wed, 19 Mar 2014 20:11:59 GMT
recorded_with: VCR 2.8.0
