---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2019&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_104CWY4tb5cZffxRIjsY5yeO",
          "livemode": false,
          "created": 1402476898,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_104CWY4tb5cZffxRuYv2uxiR",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2019,
            "fingerprint": "VfkQZgiLeMQDObnc",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Wed, 11 Jun 2014 08:54:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_104CWY4tb5cZffxRIjsY5yeO&email=aiyana%40baileywolf.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_OwLn2xDcWLy5giDqk5b9Fq1k
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1402476899,
          "id": "cus_4CWYtewczW1ZTw",
          "livemode": false,
          "description": null,
          "email": "aiyana@baileywolf.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4CWYtewczW1ZTw/subscriptions",
            "data": [
              {
                "id": "sub_4CWYjkjlKPh3ci",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1402472064,
                  "amount": 999,
                  "currency": "gbp",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "MyFlix monthly"
                },
                "object": "subscription",
                "start": 1402476899,
                "status": "active",
                "customer": "cus_4CWYtewczW1ZTw",
                "cancel_at_period_end": false,
                "current_period_start": 1402476899,
                "current_period_end": 1405068899,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "gbp",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4CWYtewczW1ZTw/cards",
            "data": [
              {
                "id": "card_104CWY4tb5cZffxRuYv2uxiR",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 6,
                "exp_year": 2019,
                "fingerprint": "VfkQZgiLeMQDObnc",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4CWYtewczW1ZTw"
              }
            ]
          },
          "default_card": "card_104CWY4tb5cZffxRuYv2uxiR"
        }
  recorded_at: Wed, 11 Jun 2014 08:54:59 GMT
recorded_with: VCR 2.9.2
