---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_ZaKKJ9YpgJPwIZRBGIoYQUXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103oL22JANYh9MVFqT6d3DiG",
          "livemode": false,
          "created": 1396898694,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103oL22JANYh9MVFnrSzwEup",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2015,
            "fingerprint": "xtjBEsATD6l3c4KY",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 07 Apr 2014 19:24:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103oL22JANYh9MVFqT6d3DiG&plan=base&email=lincoln.smith%40hartmann.biz
    headers:
      Authorization:
      - Bearer sk_test_ZaKKJ9YpgJPwIZRBGIoYQUXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1396898696,
          "id": "cus_3oL2TnvYRkxHsA",
          "livemode": false,
          "description": null,
          "email": "lincoln.smith@hartmann.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3oL2TnvYRkxHsA/subscriptions",
            "data": [
              {
                "id": "sub_3oL2cxX5UtXoQM",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1396894733,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1396898696,
                "status": "active",
                "customer": "cus_3oL2TnvYRkxHsA",
                "cancel_at_period_end": false,
                "current_period_start": 1396898696,
                "current_period_end": 1399490696,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3oL2TnvYRkxHsA/cards",
            "data": [
              {
                "id": "card_103oL22JANYh9MVFnrSzwEup",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2015,
                "fingerprint": "xtjBEsATD6l3c4KY",
                "customer": "cus_3oL2TnvYRkxHsA",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103oL22JANYh9MVFnrSzwEup"
        }
  recorded_at: Mon, 07 Apr 2014 19:24:56 GMT
recorded_with: VCR 2.9.0
