---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_ZaKKJ9YpgJPwIZRBGIoYQUXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103oKB2JANYh9MVFomfiIz1s",
          "livemode": false,
          "created": 1396895532,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103oKB2JANYh9MVF425Zb5Zk",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2015,
            "fingerprint": "xtjBEsATD6l3c4KY",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 07 Apr 2014 18:32:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103oKB2JANYh9MVFomfiIz1s&plan=base&email=emelie%40raynor.info
    headers:
      Authorization:
      - Bearer sk_test_ZaKKJ9YpgJPwIZRBGIoYQUXY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1396895533,
          "id": "cus_3oKBxT7iBtojb9",
          "livemode": false,
          "description": null,
          "email": "emelie@raynor.info",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3oKBxT7iBtojb9/subscriptions",
            "data": [
              {
                "id": "sub_3oKBfTo2BTCEwi",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1396894733,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1396895533,
                "status": "active",
                "customer": "cus_3oKBxT7iBtojb9",
                "cancel_at_period_end": false,
                "current_period_start": 1396895533,
                "current_period_end": 1399487533,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3oKBxT7iBtojb9/cards",
            "data": [
              {
                "id": "card_103oKB2JANYh9MVF425Zb5Zk",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2015,
                "fingerprint": "xtjBEsATD6l3c4KY",
                "customer": "cus_3oKBxT7iBtojb9",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103oKB2JANYh9MVF425Zb5Zk"
        }
  recorded_at: Mon, 07 Apr 2014 18:32:14 GMT
recorded_with: VCR 2.9.0
