---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2016&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14WOv3EEWX6SuFHyam678rqk",
          "livemode": false,
          "created": 1409217013,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14WOv3EEWX6SuFHy82O9kIhL",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "hjWFn5h9EJtWX9XC",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 28 Aug 2014 09:10:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=myflixbasic&email=chet%40stark.info
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1409217020,
          "id": "cus_4fkQCfFY6hE964",
          "livemode": false,
          "description": null,
          "email": "chet@stark.info",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4fkQCfFY6hE964/subscriptions",
            "data": [
              {
                "id": "sub_4fkQJsRmdQvleB",
                "plan": {
                  "interval": "month",
                  "name": "Basic",
                  "created": 1409181662,
                  "amount": 999,
                  "currency": "aud",
                  "id": "myflixbasic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": 14,
                  "metadata": {},
                  "statement_description": "Myflix fee"
                },
                "object": "subscription",
                "start": 1409217020,
                "status": "trialing",
                "customer": "cus_4fkQCfFY6hE964",
                "cancel_at_period_end": false,
                "current_period_start": 1409217020,
                "current_period_end": 1410426620,
                "ended_at": null,
                "trial_start": 1409217020,
                "trial_end": 1410426620,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "aud",
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4fkQCfFY6hE964/cards",
            "data": []
          },
          "default_card": null
        }
  recorded_at: Thu, 28 Aug 2014 09:10:20 GMT
recorded_with: VCR 2.9.2
