---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2016&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14WQGaEEWX6SuFHyf6TNKjDu",
          "livemode": false,
          "created": 1409222192,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14WQGaEEWX6SuFHy4XQX89uC",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2016,
            "fingerprint": "smRohPuadOa0hrVC",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 28 Aug 2014 10:36:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14WQGaEEWX6SuFHyf6TNKjDu&email=brando%40veumgraham.biz&plan=myflixbasic
    headers:
      Authorization:
      - Bearer sk_test_4ZJM9U8h3ar9olsyOxDjOdMb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 28 Aug 2014 10:36:34 GMT
recorded_with: VCR 2.9.2
