!!! 5
%html(lang="en-US")
  %body
    %p #{@invite.friend_name},
    %p #{@invite.user.fullname} has invited you to join MyFlix!
    = @invite.message
    Just click on the link below to begin registration.
    = link_to "Accept Invitation", register_with_token_url(@invite.token)
