!!! 5
%html(lang="en-US")
  %body
    %section.content.clearfix
      %p= "You have a new follower #{@follower.full_name}  "
      = user_url(@follower, host: 'myflix.com') 
    %footer
      &copy 2013 MyFLiX
