!!! 5
%html(lang="en-US")
  %body
    %p 
      = "#{@a_user.full_name}"
    %p 
      = "Here's the link to reset your password:" 
      = link_to "click here", reset_password_path(@a_user.token)
      &copy 2013 MyFLiX
