<!DOCTYPE html>
<html>
<body>
  <p> Welcome to MyFlix, <%= @user.full_name %>! </p>
  <p> Your user name is: <%= @user.email %> </p>
  <p> To log in to the site, just click this link: <a href=<%= @url %>>Login</a> </p>
</body>
</html>