!!! 5
%html
  %body
    %p
      Hi #{ @name }
      %br
      %br
      Your friend thought you might be interested in watching some great movies.
      %br
      %br
      They left you the message below:
      %br
      %br
      = @message
      %br
      %br
      Click the link below in order to register.
      %br
      %br
      = link_to 'Register Now!', register_url