!!! 5
%html(lang="en-US")
  %head
    %title MyFLiX - welcome
    %meta(charset="UTF-8")
  %body
    Hi #{@user.full_name},
    %p To reset your password, please click on the following link:
    %p= link_to "Reset my password", reset_password_url(@user.token)
    
