%html
  %body
    %p
      Hello #{@user.full_name},
      \  We received a password reset request for your account.
      %br
      %br
      If you requested this password reset, #{link_to('click here', reset_password_url(@url, token: @user.password_reset_token)).html_safe}
      %br
      %br
      \If you didn't request this password reset, you can ignore this email. Your account has not been modified.
      %br
      %br
      \myflix management