!!! 5
%html(lang="en-US")
  %body
    %h3= "Hello, #{@user.name}"
    %p
      You recently requested a password reset for MyFLiX.com. Please click the link below to reset your password.
    %p
      = link_to "Reset My Password", password_reset_url(@user.token)  