%html
  %head
  %body
    %p
      Hey 
      = @user.full_name
    %p
      You asked to reset your password.  Please click on this link.
    %p
      = link_to"Reset Your Password", password_reset_url(@user.token)
    %p
      If you didn't, just ignore this.
