!!! 5
%html(lang="en-US")
  %body 
    %p Dear #{@user.full_name}, please click on the link below to reset your password.
    %p= link_to "Reset Password", password_reset_url(@user.token), class: "btn" #note password resets url and not path because this is in the user's email, we need to give the complete email of the link