!!! 5
%html(lang="en-US")
  %head
    %title MyFLiX - welcome
    %meta(charset="UTF-8")
  %body
    Hi #{@invitation.recipient_name},
    %p You have been invited by #{@invitation.inviter.full_name} to join Myflix.
    %p= @invitation.message 

    =link_to "Accept this invitation", register_with_token_url(@invitation.token)