!!! 5
%html(lang="en-US")
  %body
    %p Welcome to MyFLix, #{@user.full_name}! We know that you'll our enjoy the nation's premiere DVD and Blu-ray rental service#{(" just as much as " + @friend_full_name) if @friend_full_name}. Enjoy!