!!! 5
%html(lang="en-US")
  %head
    %title MyFLiX - welcome
    %meta(charset="UTF-8")
  %body
    Hi #{@user.full_name},
    %p Welcome to Myflix. We hope you enjoy many of our thousands of movies and television shows.