!!! 5
%html(lang="en-US")
  %body
    %section.content.clearfix
      %p= " #{@user.full_name}  "
      %p= "Welcome to MyFlix.  We hope that you will enjoy our services.  "
      %p= "- MyFlix Team.  "
    
    %footer
      &copy 2013 MyFLiX
