/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require rails_bootstrap_forms
 *= require whitespace-reset
 *= require_tree .
*/

$navbar-default-bg: #B9090B;
$navbar-default-link-color: #eaeaea;
$navbar-default-link-hover-color: white;
$navbar-default-link-active-color: #e1e1e1;
$navbar-default-link-active-bg: $navbar-default-bg;
$navbar-default-brand-hover-color: white;

$font-family-sans-serif: "Droid Sans";
$font-family-serif: "Josefin Slab";

@import "bootstrap";