body
  margin: 20px
  background: url(/tmp/dark-bg.png) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  a
    color: #b9090b
  a:hover
    text-decoration: none
    color: lighten(#b9090b, 15%)  
  section.content
    padding-bottom: 50px
    border-bottom: 3px solid #B9090B
    margin-bottom: 20px

section.ui-index
  background: #f7f7f7
  padding: 30px

fieldset.actions
  input[type="submit"]
    margin-right: 10px

hr
  border: 1px solid #2f2f2f

footer
  color: #eaeaea