article.video_category
  margin-bottom: 20px
  padding: 20px 10px
  img
    width: 166px
    height: 100%
  header
    margin-bottom: 20px
    h3
      font-size: 18px
      a
        color: black

.crop
  height: 250px
  width: 175px
  overflow: hidden

.crop img
  height: auto
  width: 175px        

#category-header
  font-size: 18px