section.site_title
  background: #f7f7f7
  padding: 100px 215px
  h1
    font-size: 32px
    margin-bottom: 30px
  p.sign_up
    font-size: 24px
    margin-bottom: 30px

section.register, section.sign_in, section.reset_password
  form
    background: #f7f7f7
    padding: 30px
    header
      h1
        font-size: 24px
        margin-bottom: 20px

section.register
  form
    fieldset.credit_card
      border-top: 1px solid #ccc
      padding-top: 20px
      select#date_month
        margin-right: 25px

section.forgot_password
  background: #f7f7f7
  padding: 30px
  form
    header
      h1
        font-size: 24px
      p
        margin-bottom: 20px

section.confirm_password_reset, section.invalid_token, section.reset_password
  background: #f7f7f7
  padding: 30px
  form
    header
      h1
        font-size: 24px
        margin-bottom: 20px
      p
        margin-bottom: 20px
