article.video
  color: #eaeaea
  padding: 30px
  // margin: 0 0 30px
  .video_large_cover
    margin-bottom: 30px
  .video_info
    margin: 0 0 20px 30px
    header
      padding-bottom: 8px
      margin-bottom: 12px
      border-bottom: 1px solid #DDD
      h3
        font-weight: bold
        font-size: 20px
    p
      margin-bottom: 20px
    .actions
      a
        margin-right: 20px

section.reviews
  color: #eaeaea
  form
    margin-bottom: 30px
  ul
    article.review
      margin-top: 20px
      border-top: 1px solid #ccc
      padding-top: 20px
      li
        span
          font-weight: bold
          font-size: 14px
        &:last-of-type
          border-bottom: none

// .crop-large
//   height: 375px
//   width: 675px
//   overflow: hidden
//   border: 5px solid #282828
//   border-radius: 3px

// .crop-large img
//   height: auto
//   width: 675px        

