%section.genre
  %header.clearfix
    %h1 Comedies
    .genre_sorting
      Sort by:
      %select(name="")
        %option(value="a-z") Title: A - Z
        %option(value="z-a") Title: Z - A
        %option(value="rating") Rating
  %article.row
    - @category.videos.each do |video|
      .video.col-md-2
        = image_tag(video.url)
