/ %article.video_category
/   %header
/     %h3
/       = @category.name
/   .videos.row
/     - @videos.where(category_id: @category.id).each do |video|
/       .video.span2
/         = link_to (image_tag video.small_cover_url), video_path(video)
%article.video_category
  %header
    %h3
      = @category.name
  .videos.row
    - @category.recent_video.each do |video|
      .video.span2
        = link_to (image_tag video.small_cover_url), video_path(video)