%section.genre
  %header.clearfix
    %h1= @category.name.pluralize
    
  %article.row
    - @category.videos.each do |v|
      .video.span2
        = link_to image_tag(v.thumbnail), video_path(v.id) 