%article.video_category 
  %header
    %h3= @category.name 
  .videos.row
    -@category.videos.each do |video| 
      .video.col-sm-2
        =link_to video do 
          %img(src="#{video.small_cover_url}")
