%section.genre
  %header.clearfix
    %h1 #{@category.name}
    .genre_sorting
      Sort by:
      %select(name="")
        %option(value="a-z") Title: A - Z
        %option(value="z-a") Title: Z - A
        %option(value="rating") Rating
  %article.row
    - @category.videos.each do |video|
      .video.span2
        = link_to "", nil do 
          %img(src="#{video.small_cover_url}")