=form_for [@video, @review] do |f|
  = f.select(:rating, options_for_select( [['5 stars', 5], ['4 stars', 4], ['4 stars', 4], ['2 stars', 2], ['1 stars', 1]], @review.rating), include_blank: true )
  = f.text_field(:review_description)
  = f.submit "Submit", class: "btn"
