---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103bDF2Px4Wvfu2APN35AaHW&plan=basic&email=alice%40example.com
    headers:
      Authorization:
      - Bearer sk_test_fygJz3r147SBHwA8pOypeg7U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1393871404,
          "id": "cus_3bDFJMf0EdgFEB",
          "livemode": false,
          "description": null,
          "email": "alice@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3bDFJMf0EdgFEB/subscriptions",
            "data": [
              {
                "id": "sub_3bDF27emP9pLc9",
                "plan": {
                  "interval": "month",
                  "name": "Basic Service",
                  "created": 1393864876,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1393871404,
                "status": "active",
                "customer": "cus_3bDFJMf0EdgFEB",
                "cancel_at_period_end": false,
                "current_period_start": 1393871404,
                "current_period_end": 1396549804,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3bDFJMf0EdgFEB/cards",
            "data": [
              {
                "id": "card_103bDF2Px4Wvfu2AoDSYWyqA",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2016,
                "fingerprint": "jgFh3FXSqUbvxQj6",
                "customer": "cus_3bDFJMf0EdgFEB",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103bDF2Px4Wvfu2AoDSYWyqA"
        }
  recorded_at: Mon, 03 Mar 2014 18:30:03 GMT
recorded_with: VCR 2.8.0
