---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103Zjw2Px4Wvfu2AJWKrgUKQ
    headers:
      Authorization:
      - Bearer sk_test_fygJz3r147SBHwA8pOypeg7U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103Zjw2Px4Wvfu2AChxnGE6p",
          "object": "charge",
          "created": 1393531739,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103Zjw2Px4Wvfu2A6e4jxLyh",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2016,
            "fingerprint": "jgFh3FXSqUbvxQj6",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103Zjw2Px4Wvfu2ATQPniXuv",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Thu, 27 Feb 2014 20:08:59 GMT
recorded_with: VCR 2.8.0
