%section.reset_password.container
  .row
    .col-sm-10.col-sm-offset-1
      %form
        %header
          %h1 Reset Your Password
        %fieldset.form-group
          %label New Password
          .row
            .col-sm-4
              %input.form-control(type="password")
        %fieldset.form-group.action
          %input(type="submit" value="Reset Password" class="btn btn-default")
